---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	pubDate={new Date('June 19 2024')}
>
	<p>
	Hey there, everyone! I'm Parker, a software engineer from the small but mighty (if you are from Dickinson you will get it) town of Dickinson, North Dakota. I've been fascinated by computers and all things digital for as long as I can remember.
	</p>

	<p>
	I've been working in the tech industry for about 7 years now, and it's been a wild ride. I've had the opportunity to work on all sorts of software projects and collaborate with some really talented people. It's been a great way to learn and grow, both professionally and personally.
	</p>

	<p>
	When I'm not buried in code, I like to switch things up with some other hobbies. I'm a big fan of video games and can easily get lost in a good gaming session for hours on end. I also enjoy getting outside and going for hikes, taking in the scenery, and getting some fresh air.
	</p>

	<p>
	Playing basketball is my go-to for staying active and letting off some steam. I am a masochist so naturally my favorite team is the Philadelphia 76ers. And when I need to slow things down, I like to grab my fly fishing gear and head to a nearby stream. It's a great way to relax and just be in the moment.
	</p>

	<p>
	I created this blog as a space to share my thoughts, experiences, and all the random things I'm learning about life, technology, and everything in between. It's just a casual place for me to ramble about whatever's on my mind. Feel free to join me on this journey. Cheers!
	</p>
</Layout>
